body {
	padding : 0;
	margin : 0;
	background-color: rgb(255, 255, 255);
}

@font-face {
	font-family: Sans;
	src : url("OpenSans-ExtraBold.ttf");
}

nav {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	background-color: white;
	justify-content: space-evenly;
	border-bottom: 1.5pt solid rgb(146, 146, 146);
}

nav a {
	margin : 5pt !important;
	line-height: 40pt;
	height : 40pt;
	width: 100%;
	text-decoration: none;
	text-align: center;
	list-style-type: none;
	margin: 10pt auto;
	padding: 0;
	font-family: Sans;
	font-size: x-large;
	font-weight: 600;
	background-clip: border-box;
	color: #5271ff;
	transition: color 0.4s linear !important;
}

nav a:hover {
	font-weight: 900;
	color: #3b459e;
}

#getstarted {
	font-weight: bold;
	background-color: rgb(255, 159, 28);
	border-radius: 10pt;
	transition: background-color 0.3s linear;
}

#getstarted:hover {
	background-color: rgb(255, 174, 61);
}

p {
	font-size: 20pt;
	color: black;
}

#content {
	font-family: Sans, sans-serif;
	padding : 0;
	margin : 0;
	width: 100%;
}

.slogan {
	width : 80%;
	margin : auto;
	margin-bottom: 10pt;
	padding: 0;
	text-align: left;
	font-size: 40pt;
	font-weight: bold;
	color: black;
}

#subtitle {
	text-align: left;
	font-size: 20pt;
	color: #5271ff;
}

/*#banner {
	vertical-align: middle;
	background-color: rgb(58, 80, 107);
	overflow: hidden;
	background-clip: border-box;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	margin : auto 0;
	padding : 0;
	font-family: Sans;
	color: rgb(214, 240, 239);
}
*/
