body {
	padding : 0;
	margin : 0;
	background-color: rgb(255, 255, 255);
}

@font-face {
	font-family: Sans;
	src : url("OpenSans-ExtraBold.ttf");
}

nav {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	background-color: white;
	justify-content: space-evenly;
	border-bottom: 1.5pt solid rgb(146, 146, 146);
}

nav a {
	margin: 5pt;
	line-height: 40pt;
	height: 40pt;
	width: 100%;
	text-decoration: none;
	text-align: center;
	list-style-type: none;
	padding: 0;
	font-family: Sans;
	font-size: x-large;
	font-weight: 600;
	background-clip: border-box;
	color: #5271ff;
	transition: color 0.4s linear f;
}

nav a:hover {
	font-weight: 900;
	color: #3b459e;
}

.getstarted {
	text-decoration: none;
	font-weight: bold;
	background-size : 80%;
	background-color: rgb(255, 159, 28);
	border-radius: 10pt;
	transition: background-color 0.3s linear;
}

.getstarted:hover {
	background-color: rgb(255, 174, 61);
}

p {
	font-size: 15pt;
	color: black;
}

#content {
	font-family: Sans, sans-serif;
	padding: 0;
	margin-left: 6%;
	width: 100%;
}

.slogan {
	width : 40%;
	padding-left: 10%;
	margin : 0;
	margin-bottom: 5pt;
	padding: 0;
	text-align: left;
	font-size: 37pt;
	font-weight: bold;
	color: black;
	display: inline-block;
}

.slogan.cta {
	text-align: center;
	font-size: 30pt;
	width: 100%;
	margin-bottom: 5pt;
}

.image {
	width: 10%;

}

.caption {
	width : 50%;
	font-weight: 200;
	margin-bottom: 100pt;
	margin-top: 5pt;
}

.subtitle {
	text-align: left;
	font-size: 15pt;
	color: #5271ff;
	margin-top: 80pt;
	margin-bottom: 5pt;
}

.getstarted.cta {
	width: 100%;
	align-items: center;
	font-size: 30pt;
	font-weight: 500;
}