body {
	padding : 0;
	margin : 0;
	background-color: rgb(230, 230, 230);
}

@font-face {
	font-family: Bahn;
	src : url("bahnschrift.ttf");
}

nav {
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
	background-color: lightgrey;
	justify-content: space-evenly;
}

nav a {
	/*transition: 0.75s;*/
	text-decoration: none;
	text-align: center;
	list-style-type: none;
	margin: 10pt;
	padding: 0;
	display: table-cell;
	font-family: Bahn;
	vertical-align: middle;
	font-size: larger;
	color: rgb(95, 95, 95);
}

nav a:hover {
	transition: 0.75s;
	color: rgb(85, 163, 163);
}

p {
	font-size: 10pt;
	color: black;
}

#content {
	font-family: Bahn, sans-serif;
	padding : 15pt;
}

.slogan {
	text-align: center;
	font-size: 40pt;
	font-weight: bold;
	color: black;
}
